body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    /* margin-bottom: 15px; */
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    /* padding: 10px 20px; */
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

*,
*::after,
*::before {
    margin: 0;
    padding-top: 0px;
    box-sizing: border-box;
    user-select: none;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    background-color: #ecf0f3;
    color: #a0a5a8;
}

.main {
    position: relative;
    width: 1000px;
    min-width: 1000px;
    min-height: 600px;
    height: 600px;
    padding: 25px;
    background-color: #ecf0f3;
    box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
    border-radius: 12px;
    overflow: hidden;
}
@media (max-width: 1200px) {
    .main {
        transform: scale(0.7);
    }
}
@media (max-width: 1000px) {
    .main {
        transform: scale(0.6);
    }
}
@media (max-width: 800px) {
    .main {
        transform: scale(0.5);
    }
}
@media (max-width: 600px) {
    .main {
        transform: scale(0.4);
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 600px;
    height: 100%;
    padding: 25px;
    background-color: #ecf0f3;
    transition: 1.25s;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.form__icon {
    object-fit: contain;
    width: 30px;
    margin: 0 5px;
    opacity: 0.5;
    transition: 0.15s;
}
.form__icon:hover {
    opacity: 1;
    transition: 0.15s;
    cursor: pointer;
}
.form__input {
    width: 350px;
    height: 40px;
    margin: 4px 0;
    padding-left: 25px;
    font-size: 13px;
    letter-spacing: 0.15px;
    border: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    background-color: #ecf0f3;
    transition: 0.25s ease;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}
.form__input:focus {
    box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
}
.form__span {
    margin-top: 30px;
    margin-bottom: 12px;
}
.form__link {
    color: #181818;
    font-size: 15px;
    margin-top: 25px;
    border-bottom: 1px solid #a0a5a8;
    line-height: 2;
}

.title {
    font-size: 34px;
    font-weight: 700;
    line-height: 3;
    color: #181818;
}

.description {
    font-size: 14px;
    letter-spacing: 0.25px;
    text-align: center;
    line-height: 1.6;
}

.button {
    width: 180px;
    height: 50px;
    border-radius: 25px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.15px;
    background-color: #4b70e2;
    color: #f9f9f9;
    box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
    border: none;
    outline: none;
}

/**/
.a-container {
    z-index: 100;
    left: calc(100% - 600px);
}

.b-container {
    left: calc(100% - 600px);
    z-index: 0;
}

.switch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    padding: 50px;
    z-index: 200;
    transition: 1.25s;
    background-color: #ecf0f3;
    overflow: hidden;
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
}
.switch__circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #ecf0f3;
    box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
    bottom: -60%;
    left: -60%;
    transition: 1.25s;
}
.switch__circle--t {
    top: -30%;
    left: 60%;
    width: 300px;
    height: 300px;
}
.switch__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 400px;
    padding: 50px 55px;
    transition: 1.25s;
}
.switch__button {
    cursor: pointer;
}
.switch__button:hover {
    box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
    transform: scale(0.985);
    transition: 0.25s;
}
.switch__button:active,
.switch__button:focus {
    box-shadow: 2px 2px 6px #d1d9e6, -2px -2px 6px #f9f9f9;
    transform: scale(0.97);
    transition: 0.25s;
}

.is-txr {
    left: calc(100% - 400px);
    transition: 1.25s;
    transform-origin: left;
}

.is-txl {
    left: 0;
    transition: 1.25s;
    transform-origin: right;
}

.is-z200 {
    z-index: 200;
    transition: 1.25s;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: 1.25s;
}

.is-gx {
    animation: is-gx 1.25s;
}

@keyframes is-gx {
    0%,
    10%,
    100% {
        width: 400px;
    }
    30%,
    50% {
        width: 500px;
    }
}

h1 {
    color: white;
    font-family: "AudioWide";
    font-size: 1.25vh;

    text-align: center;
    flex-grow: 1;
}

.content {
    min-height: 360px;
    min-width: 640px;
}

.ui {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

/* Buttons */
.btn {
    border: 1px solid white;
    color: white;
    padding: 12px 16px;
    font-size: 14px;
    cursor: pointer;
    font-family: "AudioWide";
    border-radius: 10px;
    background: linear-gradient(145deg, rgb(30, 170, 255), rgb(65, 105, 255));
}

.btn:hover {
    animation: gradientChange 0.5s forwards;
}

@keyframes gradientChange {
    0% {
        background: linear-gradient(
            145deg,
            rgb(30, 170, 255),
            rgb(65, 105, 255)
        );
        transform: scale(1);
    }
    5% {
        background: linear-gradient(
            163deg,
            rgb(30, 170, 255),
            rgb(65, 105, 255)
        );
    }
    10% {
        background: linear-gradient(
            181deg,
            rgb(30, 170, 255),
            rgb(65, 105, 255)
        );
    }
    15% {
        background: linear-gradient(
            199deg,
            rgb(30, 170, 255),
            rgb(65, 105, 255)
        );
    }
    20% {
        background: linear-gradient(
            217deg,
            rgb(30, 170, 255),
            rgb(65, 105, 255)
        );
    }
    25% {
        background: linear-gradient(
            235deg,
            rgb(30, 170, 255),
            rgb(65, 105, 255)
        );
    }
    30% {
        background: linear-gradient(
            253deg,
            rgb(30, 170, 255),
            rgb(65, 105, 255)
        );
    }
    35% {
        background: linear-gradient(
            271deg,
            rgb(30, 170, 255),
            rgb(65, 105, 255)
        );
    }
    40% {
        background: linear-gradient(
            289deg,
            rgb(30, 170, 255),
            rgb(65, 105, 255)
        );
    }
    45% {
        background: linear-gradient(
            307deg,
            rgb(30, 170, 255),
            rgb(65, 105, 255)
        );
    }
    50% {
        background: linear-gradient(
            325deg,
            rgb(30, 170, 255),
            rgb(65, 105, 255)
        );
    }
    55% {
        background: linear-gradient(
            343deg,
            rgb(30, 170, 255),
            rgb(65, 105, 255)
        );
    }
    60% {
        background: linear-gradient(1deg, rgb(30, 170, 255), rgb(65, 105, 255));
    }
    65% {
        background: linear-gradient(
            19deg,
            rgb(30, 170, 255),
            rgb(65, 105, 255)
        );
    }
    70% {
        background: linear-gradient(
            37deg,
            rgb(30, 170, 255),
            rgb(65, 105, 255)
        );
    }
    75% {
        background: linear-gradient(
            55deg,
            rgb(30, 170, 255),
            rgb(65, 105, 255)
        );
    }
    80% {
        background: linear-gradient(
            73deg,
            rgb(30, 170, 255),
            rgb(65, 105, 255)
        );
    }
    85% {
        background: linear-gradient(
            91deg,
            rgb(30, 170, 255),
            rgb(65, 105, 255)
        );
    }
    90% {
        background: linear-gradient(
            109deg,
            rgb(30, 170, 255),
            rgb(65, 105, 255)
        );
    }
    95% {
        background: linear-gradient(
            127deg,
            rgb(30, 170, 255),
            rgb(65, 105, 255)
        );
    }
    100% {
        background: linear-gradient(
            145deg,
            rgb(30, 170, 255),
            rgb(65, 105, 255)
        );
        transform: scale(1.1);
    }
}

.mm_btn {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    color: white;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: 4px;
    font-family: "AudioWide";
    text-align: center;
}

.mm_btn:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.mm_btn_return {
    font-size: 3vh;
}

.mm_btn_o {
    margin-top: 15%;
}

.mm_btn_def {
    font-size: 2.5vh;
}

.mm_btn_text {
    font-size: 1.9vh;
}

.close_btn {
    margin: 0;
    padding: 0;
    background-color: rgba(30, 144, 255, 0.75);
    border: 1px solid white;
    color: white;
    padding: 0.5%;
    font-size: 200%;
    cursor: pointer;
    border-radius: 4px;
    font-family: "AudioWide";
    right: auto;
    display: flex;
    justify-content: flex-end;
    text-align: flex-start;
}

.close_btn:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.quit_btn {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    padding: 0.5vh 1.6vh;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;

    height: auto;
    min-height: 3vh;

    font-size: 3vh;

    width: auto;
    min-width: 5vh;
    color: white;
}

.modal_btn {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    border-radius: 7px;
    color: white;

    text-align: center;
    justify-content: center;
    height: auto;

    padding: 1px;
    width: 10%;
}

.modal_btn:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

/* Top Container */
/* .top_container {
    display: flex;
    justify-content: space-between;
} */

/* Menu Container */
.menu_container {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 0;
    margin-top: 3px;
    margin-right: 3px;
}

/* UI Container */
.ui_container {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 0;
    margin-left: 3px;
    margin-top: 3px;
}

/* Container */
.gameui {
    position: absolute;
    width: 90%;
    padding: 1%;
    height: 85vh; /* 60% of the viewport height */
    margin-top: 3%;
    margin-left: 5%; /* 10% margin from the top */
    background-color: rgba(30, 144, 255, 0.75); /* Container background color */
    /* Additional styles for the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: none;
    z-index: 11;
}

.main_menu_container {
    position: absolute;

    height: auto;
    min-height: 52vh;
    border: 1px solid white;

    top: 16vh;
    left: 42%;
    border-radius: 3px;
    background-color: rgba(30, 144, 255, 0.75);

    display: none;
    width: auto;

    padding: 5px;

    z-index: 10;
}

.quit_container {
    position: relative;
    width: 20%;
    height: auto;
    min-height: 20vh;

    margin-left: 40%;
    margin-top: 15%;

    border-radius: 3px;
    background-color: rgba(30, 144, 255, 0.75);

    border: 2px solid white;
    display: none;

    z-index: 10;
}

/* Additional classes */
.return_to_game,
.player_info,
.clan_info,
.shop,
.auction,
.assembly,
.questbook {
    justify-content: center;
    text-align: center;
    margin-top: 4%;
    box-sizing: border-box;
}

.assembly {
    margin-bottom: 4%;
}

.profile_info,
.clan_information,
.shopping,
.bidding,
.crafting,
.questbook_div {
    position: absolute;
    width: 97.5%;
    height: auto;
    min-height: 63vh;
}

.questbook_div {
    display: none;
}

.profile_info {
    display: none;
}

.clan_information {
    display: none;
}

.shopping {
    display: none;
}

.bidding {
    display: none;
}

.crafting {
    display: none;
}

.quit_text {
    color: white;

    font-family: "AudioWide";
    font-size: 160%;
    text-align: center;
}

.quit_answers {
    display: flex;
    justify-content: space-between;
}

.quit_yes {
    margin-top: 10%;
    margin-left: 20%;
}

.quit_yes:hover {
    background-color: rgba(50, 205, 50, 0.6);
}

.quit_no {
    margin-top: 10%;
    margin-right: 20%;
}

.quit_no:hover {
    background-color: rgba(255, 0, 0, 0.6);
}

.player_info_modal,
.ship_info_modal,
.chat_info_modal,
.spacemap_info_modal,
.log_info_modal,
.assembly_info_modal,
.questbook_modal {
    position: absolute;
    border: 1px solid white;

    height: auto;
    height: 20vh;
    width: auto;
    min-width: 15vh;

    padding: 0;

    background-color: rgba(30, 144, 255, 0.75);

    animation: fadeInOutAndExpand 0.5s ease-in-out forwards;
    transform-origin: center center;
}

.ship_info_modal_header,
.chat_info_modal_header,
.spacemap_info_modal_header,
.log_info_modal_header,
.assembly_info_modal_header,
.questbook_modal_header {
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.chat_info_modal_header {
    z-index: 2;
}

.chat_info_modal {
    left: 1%;
}

.player_info_modal {
    left: 0;
}

.ship_info_modal {
    left: 10%;
}

.assembly_info_modal {
    left: 20%;
}

.shop_top {
    display: flex;
    justify-content: space-around;
}

.shop_ships,
.shop_weapons,
.shop_ammunition,
.shop_generators,
.shop_extras,
.shop_designs,
.shop_donate {
    height: 4vh;
    width: 7%;
    border-radius: 4px;
    margin-top: 1vh;

    cursor: pointer;

    flex-grow: 1;
    margin-left: 2vh;
}

.shop_text {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    color: white;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: 4px;
    font-family: "AudioWide";
    font-size: 1.5vh;
    position: absolute;
}

.shop_text:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.shopping_def {
    position: absolute;
    margin-top: 3.5%;
    height: auto;
    min-height: 57.5vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 6;
}

.shopping_ships {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    z-index: 6;
}

.shopping_weapons {
    border: 1px solid green;
    display: none;
    flex-direction: row;
}

.shopping_ammunition {
    border: 1px solid white;
    display: none;
    flex-direction: row;
}

.shopping_generators {
    border: 1px solid purple;
    display: none;
    flex-direction: row;
}

.shopping_extras {
    border: 1px solid black;
    display: none;
    flex-direction: row;
}

.shopping_design {
    border: 1px solid blue;
    display: none;
    flex-direction: row;
}

.shopping_donate {
    border: 1px solid salmon;
    display: none;
    flex-direction: row;
}

.auc_container {
    position: absolute;
    margin-top: 3.5%;
    height: auto;
    min-height: 60vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}

.auc_hourly {
    margin-left: 4vh;
}

.auc_hourly_container {
    border: 1px solid white;
    display: block;
}

.auc_daily_container {
    border: 1px solid purple;
    display: none;
}

.auc_weekly_container {
    border: 1px solid green;
    display: none;
}

.auc_monthly_container {
    border: 1px solid salmon;
    display: none;
}

.clan_container {
    position: absolute;
    margin-top: 3.5%;
    height: auto;
    min-height: 57vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}

.clan_container_info {
    border: 1px solid white;
    display: block;
}

.clan_container_members {
    border: 1px solid purple;
    display: none;
}

.clan_container_politics {
    border: 1px solid green;
    display: none;
}

.clan_container_economics {
    border: 1px solid salmon;
    display: none;
}

.profile_container {
    position: absolute;
    margin-top: 3.5%;
    height: 100%;
    min-height: 60vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    /* max-height: 90%; */
}

.profile_container_pilot {
    border: 1px solid white;
    display: block;
}

.profile_container_ranking {
    border: 1px solid purple;
    display: none;
}

.profile_container_hangar {
    border: 1px solid green;
    display: none;
}

.profile_container_workroom {
    border: 1px solid salmon;
    display: none;
}

#spacemapDiv {
    position: relative;
    z-index: 0;
}

.quest_container {
    position: absolute;
    margin-top: 3.5%;
    height: auto;
    min-height: 60vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}

.quest_daily {
    border: 1px solid white;
    display: block;
}

.quest_100q {
    border: 1px solid salmon;
    display: none;
}

.quest_event {
    border: 1px solid purple;
    display: none;
}

.quest_legacy {
    border: 1px solid green;
    display: none;
}

.quest_revenge {
    border: 1px solid greenyellow;
    display: none;
}

/* Chat Modal */
.chat_modal_content {
    width: 100%;
    min-height: 14.5vh;
    height: auto;
    border: 1px solid white;
    overflow-y: auto;
    max-height: 14.5vh;
}

.chat_modal_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 2vh;
    padding: 0;

    margin-top: 0.5vh;
}

.chat_modal_send_btn {
    padding: 0;
}

/* Console Modal */

.console_container {
    position: absolute;
    display: none;

    height: 60vh;
    width: 40%;

    padding: 0;
    margin: 0 auto;

    border: 1px solid white;
    background-color: rgba(65, 105, 255, 0.95);

    z-index: 6;

    min-height: 410px;
    min-width: 400px;

    overflow: auto;
    resize: both;
}

.console_header, .console_content {
    box-sizing: border-box;
}

.console_content {
    height: 90%;
}

.console_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: "AudioWide";
    font-size: 2vh;
    color: white;

    height: 7%;
}

.console_header_name {
    flex-grow: 1;
    text-align: center;
}

.console_input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 3%;
    padding: 0;

    margin-top: 0.5vh;
}

.console_output {
    width: 100%;
    height: 96%;
    border: 1px solid white;
    overflow-y: auto;
}
.console_send_btn {
    padding: 0;
    text-align: center;
    flex-grow: 1;
    border: 1px solid white;
    height: fit-content;
}

.console_send_btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Shop Item default div */
.shop_item {
    /* position: absolute; */
    width: 100%;
    max-width: 100px;
    margin-top: 1vh;
    margin-left: 1vh;
    text-align: center;
    border: 1px solid white;
    padding: 0.5vh;
    border-radius: 10px;
    max-height: 20vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 180px;
}

.item_logo,
.item_price,
.item_amount,
.buy_button {
    width: 100%;
}

.item_name {
    font-family: "AudioWide";
    font-size: 10px;
    color: white;
    text-transform: uppercase;
}

.item_logo {
    background-color: rgba(0, 0, 0, 0.3);
}

.item_price {
    font-size: 1vh;
    color: white;
    font-family: "AudioWide";
    /* margin-top: 1vh; */
}

.item_amount_input {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.05);
    max-height: 10px;

    font-family: "AudioWide";
    font-size: 10px;
    color: white;
}

.item_amount_input::placeholder {
    font-family: "AudioWide";
    font-size: 8px;
    color: white;
    text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.buy_button {
    background: rgba(50, 205, 50, 0.6);
    color: white;
    /* padding: 0.1vh 0.2vh; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Inventory DIV */

/* Hangar */
.hangar_half,
.workroom_half {
    width: 49.9%;
    height: 100%;
    float: left;
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    /* overflow-y: auto; */
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.hangar_storage,
.workroom_storage {
    border: 1px solid green;
    overflow: auto;
    /* height: 100%; */
}

.hangar_active_ship,
.workroom_active_loadout {
    border: 1px solid white;
}

.hangar_item,
.workroom_item,
.workroom_active_item {
    width: 100%;
    max-width: 60px;
    margin-top: 0.5vh;
    margin-left: 0.25vh;
    margin-right: 0.25vh;
    text-align: center;
    border: 1px solid white;
    padding: 0.5vh;
    border-radius: 5px;
    max-height: 80pxx;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.hangar_logo,
.hangar_price,
.hangar_item_footer,
.workroom_logo,
.workroom_price,
.workroom_footer,
.workroom_active_logo,
.workroom_active_price {
    width: 100%;
}

.hangar_price,
.workroom_price,
.workroom_active_item_price {
    font-size: 1vh;
    color: white;
    font-family: "AudioWide";
    margin-top: 1vh;
}

.hangar_footer,
.workroom_footer {
    display: flex;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
}

.profile_btn {
    flex: 1;
}

.profile_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-family: "AudioWide";

    max-height: 1vh;
}

.profile_btn:first-child {
    margin-right: 0.1vh;
}

.profile_sell_btn {
    background-color: red;
}

.profile_equip_btn {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Workroom Active Loadout*/
.workroom_active_loadout {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 60vh;
}

.workroom_active {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}

.workroom_header {
    text-align: center;
    color: white;
    /* font-size: 2vh; */
    /* padding: 1vh; */
    font-family: "AudioWide";
}

.workroom_content {
    /* flex: 1; */
    padding-bottom: 1vh;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    overflow: auto;
}

.player_info_credits,
.player_info_thulium,
.player_info_experience,
.player_info_honor {
    color: white;
    display: flex;
    flex-direction: column;

    font-family: "AudioWide";
    font-size: 1vh;
    margin-top: 1.5vh;
}

/* Notification Container */

.notification_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    max-height: 16vh;
    width: 25%;

    left: 37.5%;
}

.notification {
    color: white;
    background-color: rgba(255, 255, 255, 0.01);

    font-size: 1vh;
    font-family: "AudioWide";
}

/* Chat Message */
.chat_message {
    color: white;
    font-size: 1.3vh;
    font-family: "Times New Roman", Times, serif;
}

/* Console Message */

.console_message {
    color: white;
    font-size: 1.3vh;
    font-family: "Times New Roman", Times, serif;
    user-select: text;
}

.nicknameLabel {
    color: white;
    font-size: 1vh;
    text-align: center;
}

.health_bar {
    box-sizing: border-box;
    width: 26px;
    padding: 1px;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.hp_health_bar {
    background: greenyellow;
    width: 100%;
    height: 2px;
    position: relative;

    transition: width 0.5s linear;
}

.sp_health_bar {
    background: aqua;
    width: 100%;
    height: 2px;
    position: relative;

    transition: width 0.5s linear;
}

/* Error Container */

.error_container {
    height: 20vh;
    width: 30vw;

    border: 1px solid white;
    border-radius: 5px;

    left: 35%;
    top: 35vh;

    z-index: 10;

    position: absolute;
    display: none; /* to flex */
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    background-color: rgba(65, 105, 255, 0.75);
}

.error_header {
    border: 1px solid white;
    height: 3vh;
    border-radius: 5px 5px 0px 0px;
}

.error_output {
    width: 100%;
    height: 12vh;

    border: 1px solid white;

    overflow-y: auto;
    overflow-x: auto;
}

.error_button {
    font-family: "AudioWide";
    font-size: 1.5vh;
}

/* Hotbar */

.hotbar {
    height: 40px;
    position: absolute;
    display: flex;
    top: 90vh;
    left: 40%;
}

.hotbar_def {
    height: auto;
    max-height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 1px;

    display: flex;
    flex-direction: column;
}

.hotbar_logo {
    height: 28px;
    width: 100%;

    border: 1px solid red;
    border-radius: 5px 5px 0px 0px;
}

.hotbar_amount {
    height: 10px;
    width: 100%;

    font-family: "AudioWide";
    font-size: 7px;
    color: white;
    text-align: center;

    border-radius: 0px 0px 5px 5px;
}

/* Ammunition */
.workroom_ammo {
    display: flex;
    flex-direction: row;

    height: 100%;
}

.ammo_rockets {
    flex: 1;
    text-align: center;
}

.ammo_lasers {
    flex: 1;
    text-align: center;
}

.ammo_text {
    font-family: "AudioWide";
    font-size: 10px;
    color: white;
}

/* Shopping Ammunition */
.shopping_ammunition_container {
    width: 100%;
    max-width: 100px;

    margin-top: 1vh;
    margin-left: 1vh;

    text-align: center;
    border: 1px solid white;
    padding: 0.5vh;
    border-radius: 10px;

    max-height: 10vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item_icon_png {
    max-width: 100%;
    max-height: 100%;
}

.hidden {
    display: none;
}

.shown {
    display: flex;
    flex-direction: column;
}

/* Questbook */
.questbook_top {
    display: flex;
    justify-content: space-around;
}

/* Animations */
@keyframes fadeInOutAndExpand {
    0% {
        transform: scaleY(0) scaleX(0);
        opacity: 0;
    }
    50% {
        transform: scaleY(0.1) scaleX(1);
    }
    100% {
        transform: scaleY(1) scaleX(1);
        opacity: 1;
    }
}

@keyframes fadeOutAndCollapse {
    0% {
        transform: scaleY(1) scaleX(1);
        opacity: 1;
    }
    50% {
        transform: scaleY(0.1) scaleX(1);
    }
    100% {
        transform: scaleY(0) scaleX(0);
        opacity: 0;
    }
}

#gameversion {
    font-size: 14px;
    position: absolute;
    z-index: 99;
    left: 0;
    bottom: 0;
}

.top10honor_container {
    /* display: flex; */
    min-height: 20vh;
    /* width: 100%; */
    border: 1px solid white;

    color: white;
    font-family: 'AudioWide';
}

.top10experience_container {
    /* display: flex; */
    min-height: 20vh;
    width: 100%;
    border: 1px solid white;

    color: white;
    font-family: 'AudioWide';
}


/* Player Info Modal */
.player_info_modal_header, .player_info_modal_content {
    box-sizing: border-box;
    color: white;
    font-family: 'AudioWide';
}

.player_info_modal_header {
    width: 100%;
    height: 25%;

    border: 1px solid white;

    padding: 0;

    display: flex;
    flex-direction: row;
}

.player_info_modal_content {
    height: 75%;
}

.player_info_modal_closer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.player_info_modal_level, .pim_close_btn {
    height: 50%;
    /* align-items: center; */
}

.pim_modal_btn {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;

    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1px;
    height: 100%;
}

.player_info_modal_picture,
.player_info_modal_honor_badge,
.player_info_modal_prestige_badge,
.player_info_modal_closer {
    width: 25%;
}

.pim_experience,
.pim_honor,
.pim_prestige,
.pim_credits,
.pim_thulium {
    width: 100%;
    height: 20%;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.pim_experience_icon, .pim_honor_icon, .pim_prestige_icon, .pim_credits_icon, .pim_thulium_icon {
    height: 100%;
    aspect-ratio: 1/1;
    font-size: 2vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: fit-content;
    overflow: hidden;
    flex: 1;
}

.pim_icon {
    text-align: center;
    vertical-align: middle;
}

.pim_value {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vh;
    text-align: center;
    padding: 0;
    flex: 1;
}

.pim_pp {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.25vh;
}

/* Settings Container */

.settings_container {
    position: absolute;
    display: none;

    flex-direction: column;

    height: 60vh;
    width: 40%;

    padding: 0;
    top: 15vh;
    left: 30%;

    border: 1px solid white;
    background-color: rgba(65, 105, 255, 0.95);

    z-index: 6;
}

.settings_header {
    height: 10%;
    width: 100%;
    border: 1px solid white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.settings_quit_btn {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    border-radius: 7px;
    color: white;

    text-align: center;
    justify-content: center;
    height: auto;

    padding: 1px;
    height: 50%;
    width: 5%;

    align-items: center;
}

.settings_quit_btn:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.settings_name {
    font-size: 3vh;
    font-family: 'AudioWide';
    color: white;
    text-align: center;
    flex-grow: 1;
}

.settings_content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    width: 100%;
    height: 90%;
}

.settings_block {
    display: flex;
    height: 7%;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    /* align-content: center; */
    border: 1px solid white;
    /* flex-wrap: wrap; */
}

.settings_setting {
    font-family: 'AudioWide';
    font-size: 1vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 65%;
}

/* The switch1 - the box around the slider */
.switch1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 3%;
    height: 6%;
    width: 2.7%;
    transition: 1.25s;
}
  
  /* Hide default HTML checkbox */
  .switch1 .chk {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border-radius: 5px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: .5em;
    width: 2.4em;
    border-radius: 5px;
    left: -0.6em;
    top: 0.2em;
    background-color: white;
    box-shadow: 0 6px 7px rgba(0,0,0,0.3);
    transition: .4s;
  }
  
  .slider:before, .slider:after {
    content: "";
    display: block;
  }
  
  .slider:after {
    background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.15) 0) 0 50% / 50% 100%,
          repeating-linear-gradient(90deg,rgb(255, 255, 255) 0,rgb(255, 255, 255),rgb(255, 255, 255) 20%,rgb(255, 255, 255) 20%,rgb(255, 255, 255) 40%) 0 50% / 50% 100%,
          radial-gradient(circle at 50% 50%,rgb(255, 255, 255) 25%, transparent 26%);
    background-repeat: no-repeat;
    border: 0.25em solid transparent;
    border-left: 0.4em solid #ffffff;
    border-right: 0 solid transparent;
    transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    transform: translateX(-22.5%) rotate(90deg);
    transform-origin: 25% 50%;
    position: relative;
    top: 0.5em;
    left: 0.55em;
    width: 2em;
    height: 1em;
    box-sizing: border-box;
  }
  
  .chk:checked + .slider {
    background-color: limegreen;
  }
  
  .chk:focus + .slider {
    box-shadow: 0 0 1px limegreen;
  }
  
  .chk:checked + .slider:before {
    transform: translateY(2.3em);
  }
  
  .chk:checked + .slider:after {
    transform: rotateZ(90deg) rotateY(180deg) translateY(0.45em) translateX(-1.4em);
  }

  /* level settings 👇 */

.slider1 {
    /* slider */
    --slider-width: 100%;
    --slider-height: 6px;
    --slider-bg: rgb(82, 82, 82);
    --slider-border-radius: 999px;
    /* level */
    --level-color: #fff;
    --level-transition-duration: .1s;
    /* icon */
    --icon-margin: 15px;
    --icon-color: var(--slider-bg);
    --icon-size: 25px;
  }
  
  .slider1 {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .slider1 .volume {
    display: inline-block;
    vertical-align: top;
    margin-right: var(--icon-margin);
    color: var(--icon-color);
    width: var(--icon-size);
    height: auto;
  }
  
  .slider1 .level {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--slider-width);
    height: var(--slider-height);
    background: var(--slider-bg);
    overflow: hidden;
    border-radius: var(--slider-border-radius);
    -webkit-transition: height var(--level-transition-duration);
    -o-transition: height var(--level-transition-duration);
    transition: height var(--level-transition-duration);
    cursor: inherit;
  }
  
  .slider1 .level::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    -webkit-box-shadow: -200px 0 0 200px var(--level-color);
    box-shadow: -200px 0 0 200px var(--level-color);
  }
  
  .slider1:hover .level {
    height: calc(var(--slider-height) * 2);
  }

  .settings_volume {
    display: flex;
    width: 35%;
  }

  .settings_switch {
    width: 35%;
  }

  /* Quest Cont */
  .quest_daily {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .quest_cont {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2vh;

    border: 1px solid white;
    justify-content: space-around;
  }

.quest_number {
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 1px solid red;
}

.quest_name {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 1px solid green;
}

.quest_accept {
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 1.8vh;
    font-family: 'AudioWide';
    color: white;
    border: 1px solid yellowgreen;
    padding: 0;
}