front/node_modules/
server/node_modules/
OLDSERVER
front/dist
server/dist/*
!server/dist/web
server/dist/web/*
!server/dist/web/ts
server/dist/web/ts/*
!server/dist/web/ts/three.module.js
!server/dist/web/ts/OrbitControls.js
!server/dist/web/ts/GLTFLoader.js
!server/dist/web/ts/CSS2DRenderer.js
!server/dist/web/ts/tween.js
config.json
temp